@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300&display=swap");
.item__movie {
  outline: none;
  padding: 10px;
}
.item__movie:hover .item__link .item__img .overlay {
  opacity: 1;
}
.item__movie:hover .item__link .item__info .item__button {
  opacity: 1;
}
.item__movie:hover .item__link .item__info .film__name + .film__during {
  opacity: 0;
}
.item__movie .item__link {
  text-decoration: none;
  color: #4a4a4a;
}
.item__movie .item__link .item__img {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 290px;
}
@media only screen and (max-width: 419px) {
  .item__movie .item__link .item__img {
    height: 420px;
  }
}
@media only screen and (min-width: 421px) and (max-width: 575px) {
  .item__movie .item__link .item__img {
    height: 400px;
  }
}
.item__movie .item__link .item__img img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item__movie .item__link .item__img .overlay {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  top: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent 100%);
  transition: all 0.2s;
}
.item__movie .item__link .item__img .overlay .play__button {
  width: 60px;
  height: 60px;
  border: 2px solid rgba(110, 214, 255, 0.5);
  background-color: rgba(25, 50, 50, 0.6);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
}
.item__movie .item__link .item__img .overlay .play__button:hover {
  opacity: 0.7;
}
.item__movie .item__link .item__img .overlay .play__button .play__icon {
  color: #f2f3f5;
}
.item__movie .item__link .item__img .film__age {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 4px;
  padding: 0 5px;
  color: #f2f3f5;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .item__movie .item__link .item__img .film__age {
    top: 5px;
    left: 5px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__img .film__age {
    top: 5px;
    left: 5px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .item__movie .item__link .item__img .film__age {
    top: 5px;
    left: 5px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  .item__movie .item__link .item__img .film__age {
    top: 5px;
    left: 5px;
  }
}
.item__movie .item__link .item__img .film__age.age--C {
  background-color: #fb4226;
}
@media only screen and (max-width: 575px) {
  .item__movie .item__link .item__img .film__age.age--C {
    font-size: 13px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__img .film__age.age--C {
    font-size: 13px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__img .film__age.age--C {
    font-size: 14px;
    font-weight: 400;
  }
}
.item__movie .item__link .item__img .film__age.age--P {
  background-color: #00ac4d;
  padding: 0 14px;
}
@media only screen and (max-width: 575px) {
  .item__movie .item__link .item__img .film__age.age--P {
    font-size: 13px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__img .film__age.age--P {
    font-size: 13px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__img .film__age.age--P {
    font-size: 14px;
    font-weight: 400;
  }
}
.item__movie .item__link .item__img .sneaky__show {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #f2f3f5;
  background-color: #fb4226;
  padding: 5px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 575px) {
  .item__movie .item__link .item__img .sneaky__show {
    font-size: 10px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__img .sneaky__show {
    font-size: 10px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .item__movie .item__link .item__img .sneaky__show {
    font-size: 10px;
    font-weight: 400;
  }
}
.item__movie .item__link .item__img .film__audit {
  background-color: rgba(12, 27, 54, 0.8);
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 60px;
  height: 65px;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .item__movie .item__link .item__img .film__audit {
    top: 5px;
    right: 5px;
    width: 40px;
    height: 45px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__img .film__audit {
    top: 5px;
    right: 5px;
    width: 40px;
    height: 45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .item__movie .item__link .item__img .film__audit {
    top: 5px;
    right: 5px;
    width: 55px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  .item__movie .item__link .item__img .film__audit {
    top: 5px;
    right: 5px;
    width: 55px;
  }
}
.item__movie .item__link .item__img .film__audit .film__point {
  margin: 0;
  color: #f2f3f5;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 575px) {
  .item__movie .item__link .item__img .film__audit .film__point {
    font-size: 10px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__img .film__audit .film__point {
    font-size: 12px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .item__movie .item__link .item__img .film__audit .film__point {
    font-size: 15px;
    font-weight: 400;
  }
}
.item__movie .item__link .item__img .film__audit .film__star {
  font-size: 8px;
  font-weight: 600;
  color: #fca311;
}
.item__movie .item__link .item__info {
  position: relative;
}
.item__movie .item__link .item__info .film__name {
  color: #fff;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-right: 30px;
}
@media only screen and (max-width: 575px) {
  .item__movie .item__link .item__info .film__name {
    font-size: 15px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__info .film__name {
    font-size: 15px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .item__movie .item__link .item__info .film__name {
    font-size: 15px;
    font-weight: 500;
  }
}
.item__movie .item__link .item__info .film__during {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (max-width: 575px) {
  .item__movie .item__link .item__info .film__during {
    font-size: 13px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__info .film__during {
    font-size: 13px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .item__movie .item__link .item__info .film__during {
    font-size: 13px;
    font-weight: 500;
  }
}
.item__movie .item__link .item__info .film__during:hover .item__button {
  opacity: 1;
}
.item__movie .item__link .item__info .item__button {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #457b9d;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.2s;
  padding: 10px;
}
.item__movie .item__link .item__info .item__button .buyTicket__button {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
@media only screen and (max-width: 575px) {
  .item__movie .item__link .item__info .item__button .buyTicket__button {
    font-size: 16px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .item__movie .item__link .item__info .item__button .buyTicket__button {
    font-size: 16px;
    font-weight: 500;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .item__movie .item__link .item__info .item__button .buyTicket__button {
    font-size: 16px;
    font-weight: 500;
  }
}

@-webkit-keyframes slide {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}